/* Estilos gerais */
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Evita rolagem horizontal */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.logo {
  width: 20rem;
  font-weight: bold;
  text-decoration: none;
}

/* Menu desktop */
.nav-desktop ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-desktop ul li {
  margin: 0 15px;
}

.nav-desktop ul li a {
  color: #961914;
  font-family: "Lora", serif;
  text-decoration: none;
  font-size: 1.5rem;
}

.nav-desktop ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #961914;
  transition: width 0.3s ease;
  margin: 0 auto;
}

.nav-desktop ul li a:hover::after {
  width: 100%;
}

/* Menu mobile */
.menu-toggle {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.nav-mobile {
  display: none;
  flex-direction: column;
  background-color: #333;
  position: absolute;
  top: 60px;
  right: 20px;
  width: 200px;
  border: 1px solid #444;
}

.nav-mobile ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-mobile ul li {
  border-bottom: 1px solid #444;
}

.nav-mobile ul li a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.nav-mobile ul li a:hover {
  background-color: #444;
}

/* Efeito de zoom suave no background */
@keyframes zoomBackground {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 105%;
  }
  100% {
    background-size: 100%;
  }
}

.Home {
  background: url("./assets/background-home.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 100%;
  height: 100vh;
  animation: zoomBackground 10s infinite ease-in-out;
  position: relative;
  z-index: 1;
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  width: 100%;
  text-align: center;
}

.title {
  font-size: 3rem;
  color: #fff;
  font-family: "Cormorant Garamond", serif;
  line-height: 1.2;
}

.subtitle {
  font-size: 2rem;
  color: #fff;
  font-family: "Cormorant Garamond", serif;
  line-height: 1.2;
}

.paragraph {
  color: #fff;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.5rem;
  line-height: 1.2;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsividade */
@media (max-width: 768px) {
  .nav-desktop {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .nav-mobile.active {
    display: flex;
  }

  .title {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    text-align: center;
    max-width: 90%;
    line-height: 1.4rem;
  }

  .subtitle {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
    text-align: center;
    max-width: 90%;
    line-height: 1rem;
  }

  .paragraph {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    max-width: 80%;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adiciona sombra ao texto */
  }

  .titles {
    padding: 0;
    gap: 0;
    text-align: center;
  }

  .Home {
    background-size: cover;
    background-position: center top;
    height: auto;
    min-height: 30vh; /* Garante que a seção ocupe pelo menos a altura da tela */
    padding: 2rem 1rem;
    padding-bottom: 7rem;
  }

  .title,
  .subtitle,
  .paragraph {
    text-align: center;
    max-width: 90%;
  }

  .cursor {
    display: none !important; /* Garante que o cursor não seja exibido */
  }
}
