:root {
  --primary-color: #961914;
  --dark-bg: #333;
  --hover-bg: #444;
}

/* Reset básico */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container e Logo */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.logo {
  width: 20rem;
  font-weight: bold;
  text-decoration: none;
}

/* Menu Desktop */
.nav-desktop {
  display: flex; /* Exibe o menu desktop no desktop */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.nav-desktop ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-desktop ul li {
  margin: 0 15px;
}

.nav-desktop ul li a {
  color: var(--primary-color);
  font-family: "Lora", serif;
  text-decoration: none;
  font-size: 1.5rem;
  position: relative;
}

.nav-desktop ul li a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.3s ease;
}

.nav-desktop ul li a:hover::after {
  width: 100%;
}

/* Menu Mobile */
.menu-toggle {
  display: none; /* Esconde o botão do menu mobile por padrão */
}

.nav-mobile {
  display: none; /* Esconde o menu mobile por padrão */
}

/* Efeito de Zoom no Background */
@keyframes zoomBackground {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 105%;
  }
  100% {
    background-size: 100%;
  }
}

.Home {
  background: url("./assets/background-home.webp") no-repeat center bottom;
  background-size: cover;
  width: 100%;
  height: 100vh;
  animation: zoomBackground 10s infinite ease-in-out;
  position: relative;
  z-index: 1;
}

/* Seção de Títulos */
.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  gap: 4rem;
  text-align: center;
}

.title {
  font-size: 3rem;
  color: #fff;
  line-height: 1.2;
}

.subtitle {
  font-size: 2rem;
  color: #fff;
  line-height: 1.2;
}

.paragraph {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.2;
}

/* Seção About */
.about {
  display: flex;
  justify-content: center;
  background-image: url("./assets/background-about.webp");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

/* Responsividade para Mobile */
@media (max-width: 768px) {
  /* Centralização e Redimensionamento da Logo */
  .logo {
    width: 10rem;
    margin: 0 auto;
    display: block;
  }

  /* Exibe apenas o botão de menu mobile e oculta o menu desktop */
  .menu-toggle {
    display: block;
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    z-index: 1;
    /* Garante renderização suave (uso do transform acelera com GPU) */
    will-change: opacity, transform;
  }

  .nav-desktop {
    display: none;
  }

  /* Ajustes para Textos e Espaçamentos */
  .title {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    max-width: 90%;
    line-height: 1.4;
    text-align: center;
  }

  .subtitle {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
    max-width: 90%;
    line-height: 1;
    text-align: center;
  }

  .paragraph {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    max-width: 80%;
    text-align: center;
    background-color: #000000b6;
    border-radius: 10px;
    padding: 0.2rem;
  }

  .titles {
    padding: 0;
    gap: 0;
  }

  /* Ajustes para a Seção .Home */
  .Home {
    background-position: center top;
    height: auto;
    padding: 2rem 0 9rem;
    height: 27.2vh;
    animation: none !important;
  }

  /* Menu Mobile com Transformação GPU-ACELERADA */
  .nav-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-bg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 80vh;
    padding: 2rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 99;
    overflow-y: auto;
    will-change: transform; /* Otimização para transição */
  }

  .nav-mobile.active {
    transform: translateY(0);
  }

  .about {
    height: 30vh;
  }
}
