/* Estilos gerais */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Evita rolagem horizontal */
}

.menu {
  background-color: rgba(255, 255, 255, 0.8);
  color: #961914;
  padding: 10px 20px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.logo {
  width: 20rem;
  font-weight: bold;
  text-decoration: none;
}

/* Menu desktop */
.nav-desktop ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-desktop ul li {
  margin: 0 15px;
}

.nav-desktop ul li a {
  color: #961914;
  font-family: "Lora", serif;
  text-decoration: none;
  font-size: 1.5rem;
}

/* Adiciona animação de linha ao hover nos itens do menu */
.nav-desktop ul li a::after,
.nav-mobile ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #961914;
  transition: width 0.3s ease;
  margin: 0 auto;
}

.nav-desktop ul li a:hover::after,
.nav-mobile ul li a:hover::after {
  width: 100%;
}

/* Menu mobile */
.menu-toggle {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.nav-mobile {
  display: none;
  flex-direction: column;
  background-color: #333;
  position: absolute;
  top: 60px;
  right: 20px;
  width: 200px;
  border: 1px solid #444;
}

.nav-mobile ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-mobile ul li {
  border-bottom: 1px solid #444;
}

.nav-mobile ul li a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.nav-mobile ul li a:hover {
  background-color: #444;
}

/* Efeito de zoom suave no background */
@keyframes zoomBackground {
  0% {
    background-size: 100%; /* Tamanho inicial */
  }
  50% {
    background-size: 105%; /* Zoom */
  }
  100% {
    background-size: 100%; /* Volta ao tamanho inicial */
  }
}

.Home {
  background: url("./assets/background-home.png");
  background-size: cover; /* Ajusta o background para cobrir toda a área */
  background-repeat: no-repeat;
  background-position: center bottom; /* Move a imagem para cima */
  width: 100%; /* Garante que ocupa 100% da largura */
  height: 100vh; /* Garante que ocupa 100% da altura da viewport */
  animation: zoomBackground 10s infinite ease-in-out;
  position: relative;
  z-index: 1;
  margin: 0; /* Remove margens */
  padding: 0; /* Remove paddings */
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}

.title {
  font-size: 3rem;
  color: #fff;
  font-family: "Cormorant Garamond", serif;
  line-height: 0;
}

.subtitle {
  font-size: 2rem;
  color: #fff;
  font-family: "Cormorant Garamond", serif;
  line-height: 0;
}

.paragraph {
  color: #fff;
}

/* Responsividade */
@media (max-width: 768px) {
  .nav-desktop {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .nav-mobile.active {
    display: flex;
  }
}
